:root {
  --primary_bg: #FFF1E7;
  --secondary_bg: #E8F6F1;
  --body_text: #808080;
  --heading_text: #181818;
  --shadow_1: 0px 6px 34px rgba(215, 216, 222, 0.41);
  --shadow_2: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
  --color_primary: #1AB69D;
  --color_primary_alt: #31B978;
  --color_secondary: #EE4A62;
  --color_secondary_alt: #ff5b5c;
  --color_tertiary: #f8b81f;
  --primary_gradient:linear-gradient(-90deg, var(--edublink-color-primary-alt) 0%, var(--edublink-color-primary) 100%);
  --secondary_gradient:linear-gradient(-90deg, var(--edublink-color-primary) 0%, var(--edublink-color-primary-alt) 100%);
}

.nav_icons_container button {
  margin-right: 0;
  font-size: 1.5rem;
}

.nav_icons_container button:first-child {
  margin-right: 0;
  font-size: 1.3rem;
}

.list_item {
  padding: 0;
}

.sub_item {
  padding: 0;
}

.list_item,
.sub_item {
  border-bottom: 1px solid rgba(185, 102, 231, 0.3019607843);
  color: var(--heading_text);
  font-weight: bold;
  transition: var(--primary_transition);
  -webkit-transition: var(--primary_transition);
  -moz-transition: var(--primary_transition);
  -ms-transition: var(--primary_transition);
  -o-transition: var(--primary_transition);
}

.nav_list li:hover {
  color: var(--color_primary);
  background-color: unset;
}

.text_div {
  width: 100%;
  padding: 4px 0;
  text-transform: capitalize;
}
.text_div:hover {
  background-color: unset;
  color: var(--color_primary);
}

.pc_list {
  width: fit-content;
  margin: auto !important;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading_text);
}
.pc_list .sub_list {
  border: 1px solid;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@media (min-width: 992px) {
  .pc_item {
    position: relative;
    color: var(--heading_text);
    font-weight: bold;
    text-wrap: nowrap;
    text-transform: capitalize;
    background-color: transparent !important;
  }
  .pc_item > div {
    color: inherit !important;
  }
  .pc_item:hover {
    color: var(--color_primary);
  }
  .pc_item .text_div {
    color: inherit;
  }
  .pc_item .text_div:hover {
    color: var(--color_primary);
  }
  .pc_item .sub_list_item {
    height: auto;
    position: absolute;
    background: white;
    width: 100%;
    min-width: fit-content;
    top: 95%;
    left: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

.auth_layout {
  background: var(--gradient_1);
}

.login_card,
.signup_card {
  box-shadow: var(--shadow_1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px 32px;
  width: 300px;
}
@media (min-width: 768px) {
  .login_card,
  .signup_card {
    width: 350px;
    padding: 30px 40px;
  }
}
@media (min-width: 992px) {
  .login_card,
  .signup_card {
    width: 400px;
    padding: 40px 50px;
  }
}

footer {
  text-align: center;
  padding: 30px 10px;
  box-shadow: 0 -10px 28px 0 rgba(175, 181, 204, 0.32);
}
footer .img-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color_primary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}
footer .img-container img {
  margin: 5px 0 0 5px;
}
footer h3 {
  font-size: calc(1.1rem + 0.2vw);
  font-weight: bold;
  color: var(--color_primary);
  margin-bottom: 15px;
}
footer p {
  color: var(--heading_color);
}
footer p a {
  color: var(--color_primary);
  font-weight: bold;
}

.dash_menu {
  border: 5px solid var(--color_primary) !important;
  box-shadow: var(--shadow_1);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dash_menu li {
  position: relative;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}

.custom-input {
  width: 100%;
}
.custom-input label {
  padding: 6px 0;
  border-bottom: 1px solid var(--border_color);
  border-radius: 5px;
  display: block;
}
.custom-input input {
  width: 100%;
  background-color: transparent;
  padding: 6px 12px;
  outline: none;
}
.custom-input .eye_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-input .focus_border {
  background-color: var(--color_primary);
  bottom: 0;
  left: 0;
  height: 1px;
}

.form_error {
  color: red;
  font-size: 0.8rem;
}

.reset-link {
  text-decoration: underline;
  color: var(--color_heading);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.reset-link:hover {
  color: var(--color_primary);
}

.primary_btn {
  background-size: 300% 100%;
  background-color: var(--color_primary);
  color: white;
  padding: 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.login_btn,
.signup_btn {
  padding: 8px;
  font-size: 1rem !important;
}

.special_link {
  color: var(--color_primary);
  text-decoration: none;
}
.special_link:hover {
  text-decoration: underline;
}

.loading_container {
  z-index: 1000000000;
  background: linear-gradient(rgba(255, 255, 255, 0.22) 0%, rgba(140, 152, 234, 0.68) 100%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c: no-repeat linear-gradient(var(--color_primary) 0 0);
  background: var(--c) center/100% 10px, var(--c) center/10px 100%;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l16 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}
.course_card {
  padding: 1.25rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  max-width: 400px;
  position: relative;
}
.course_card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.course_card .card_image {
  width: 100%;
  height: 300px;
  background: var(--color_primary);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.course_card .card_title {
  font-weight: bold;
  color: var(--heading_text);
}
.course_card .card_category {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color_primary);
  margin-top: 0.5rem;
  display: inline-block;
  background-color: #d6ebe5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  position: absolute;
  left: 30px;
  top: 24px;
}
.course_card .course_details {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color_secondary) !important;
  border: 4px solid white;
  position: absolute;
  bottom: -25px;
  right: 15px;
  animation: notHoverAnimation 0.5s ease forwards;
}
.course_card .course_details svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: white;
}
.course_card .course_details:hover {
  background-color: var(--color_secondary);
  border-color: white;
  overflow: hidden;
  animation: hoverAnimation 0.5s ease forwards;
}
.course_card .course_details:hover svg {
  fill: white;
}
.course_card .course_details:hover .text {
  display: block;
}
.course_card .course_details .text {
  transition-delay: 0.5s;
  display: none;
}
.course_card .btn_container {
  margin-top: 1.8rem;
}
.course_card .btn_container .course_button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  width: fit-content;
  text-align: center;
  color: white;
  text-decoration: none;
}
.course_card .btn_container .course_button:hover {
  box-shadow: 0 0 3px 2px var(--color_primary);
}

@keyframes hoverAnimation {
  0% {
    width: 60px;
    border-radius: 50%;
  }
  100% {
    width: 200px;
    border-radius: 12px;
  }
}
@keyframes notHoverAnimation {
  0% {
    width: 200px;
    border-radius: 12px;
  }
  100% {
    width: 60px;
    border-radius: 50%;
  }
}
.shared_banner {
  padding: 60px 0px 120px;
  background: var(--secondary_bg);
  min-height: 400px;
}
.shared_banner .container {
  padding: 0 15px;
}

.categories_container {
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.categories_container .category_item {
  color: var(--body_text);
  position: relative;
  transition: 0.5s;
  padding: 6px 0;
}
.categories_container .category_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d6ebe5;
  z-index: -1;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.5s;
}
.categories_container .category_item:hover, .categories_container .category_item.active {
  color: var(--color_primary);
  padding: 6px 12px;
}
.categories_container .category_item:hover::before, .categories_container .category_item.active::before {
  transform: scale(1);
}

.search_input {
  background-color: #F5F5F5;
}
.search_input label.Mui-focused {
  color: var(--color_primary) !important;
}
.search_input.Mui-focused fieldset {
  border-color: var(--color_primary) !important;
}

.pagination {
  margin-top: 40px;
}
.pagination button:hover {
  background-color: var(--color_secondary) !important;
  opacity: 0.5;
}
.pagination .Mui-selected {
  background-color: var(--color_secondary) !important;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}

.responsive_height {
  min-height: calc(100vh - 64px);
}

.section_padding {
  padding: 100px 15px;
}

.centerd {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
}
@media (min-width: 576px) {
  h1 {
    font-size: 2.3em;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3.3em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.8em;
  }
}

h2 {
  font-size: 1.5em;
}
@media (min-width: 576px) {
  h2 {
    font-size: 1.75em;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.25em;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.3em;
}
@media (min-width: 576px) {
  h3 {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75em;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.25em;
  }
}

h4 {
  font-size: 1em;
}
@media (min-width: 576px) {
  h4 {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.5em;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 1.7em;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 2em;
  }
}

h5 {
  font-size: 0.9em;
}
@media (min-width: 576px) {
  h5 {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.7em;
  }
}

h6 {
  font-size: 0.7em;
}
@media (min-width: 576px) {
  h6 {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  h6 {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  h6 {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
  h6 {
    font-size: 1.4em;
  }
}

h1,
h2,
h3 {
  color: var(--heading_text);
}

.highlighted {
  color: var(--color_primary);
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
