@use "../../utils/varibales" as *;

.navbar {
  box-shadow: 0px 20px 34px #0000000d;
}
.nav_icons_container button {
  margin-right: 0;
  font-size: 1.5rem;
}
.nav_icons_container button:first-child {
  margin-right: 0;
  font-size: 1.3rem;
}

.list_item {
  padding: 10px 0;
}
.sub_item {
  @include responsivePadding(8px 0, 4px 0);
}
.list_item,
.sub_item {
  border-bottom: 1px solid #b966e74d;
  color: var(--heading_text);
  font-weight: bold;
  @include transition_(var(--primary_transition));
}

.nav_list li:hover {
  color: var(--color_primary);
  background-color: none;
}

.nav_list li div {
  padding: 0;
  &:hover {
    background-color: unset;
  }
}

.pc_list {
  width: fit-content;
  margin: auto !important;
  text-align: center;
  .sub_list {
    border: 1px solid;
    @include border_radius(6px);
  }
}
.pc_item {
  @media (min-width: 992px) {
    position: relative;
    color: var(--heading_text);
    font-weight: bold;
    text-wrap: nowrap;
    text-decoration: capitalize;
    background-color: transparent !important;
    &:hover {
      color: var(--color_primary);
    }
    div {
      color: var(--heading_text);

      background-color: white !important;
      &:hover {
        color: var(--color_primary);
      }
    }
    .sub_list_item {
      height: auto;
      position: absolute;
      background: white;
      width: 100%;
      min-width: fit-content;
      top: 95%;
      left: 0;
      @include border_radius(6px);
    }
  }
}
