@use "../../utils/varibales" as *;


.nav_icons_container button {
    margin-right: 0;
    font-size: 1.5rem;
}

.nav_icons_container button:first-child {
    margin-right: 0;
    font-size: 1.3rem;
}

.list_item {
    padding: 0;
}

.sub_item {
    padding: 0;
}

.list_item,
.sub_item {
    border-bottom: 1px solid #b966e74d;
    color: var(--heading_text);
    font-weight: bold;

    @include transition_(var(--primary_transition));
}

.nav_list li:hover {
    color: var(--color_primary);
    background-color: unset;
}

.text_div {
    width: 100%;
    padding: 4px 0;
    text-transform: capitalize;

    &:hover {
        background-color: unset;
        color: var(--color_primary);

    }
}

.pc_list {
    width: fit-content;
    margin: auto !important;
    text-align: center;
    text-transform: capitalize;
    color: var(--heading_text);

    .sub_list {
        border: 1px solid;
        @include border_radius(6px);
    }
}

.pc_item {
    @media(min-width: 992px) {

        position: relative;
        color: var(--heading_text);
        font-weight: bold;
        text-wrap: nowrap;
        text-transform: capitalize;
        background-color: transparent !important;

        > div {
            color: inherit !important;
        }

        &:hover {
            color: var(--color_primary);
        }

        .text_div {
            color: inherit;

            &:hover {
                color: var(--color_primary);
            }

        }

        .sub_list_item {
            height: auto;
            position: absolute;
            background: white;
            width: 100%;
            min-width: fit-content;
            top: 95%;
            left: 0;
            @include border_radius(6px);
        }
    }
}
