:root {
  --primary_bg: #FFF1E7;
  --secondary_bg: #E8F6F1;
  --body_text: #808080;
  --heading_text: #181818;
  --shadow_1: 0px 6px 34px rgba(215, 216, 222, 0.41);
  --shadow_2: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
  --color_primary: #1AB69D;
  --color_primary_alt: #31B978;
  --color_secondary: #EE4A62;
  --color_secondary_alt: #ff5b5c;
  --color_tertiary: #f8b81f;
  --primary_gradient:linear-gradient(-90deg, var(--edublink-color-primary-alt) 0%, var(--edublink-color-primary) 100%);
  --secondary_gradient:linear-gradient(-90deg, var(--edublink-color-primary) 0%, var(--edublink-color-primary-alt) 100%);
}
