@use "../utils/varibales" as *;
.categories_container{
padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
.category_item{
    color:var(--body_text);
    position: relative;
transition: 0.5s;
padding: 6px 0   ;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:#d6ebe5;
        z-index: -1;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: transform 0.5s;
    }

    &:hover,&.active  {
        color: var(--color_primary);
        padding: 6px 12px;
        &::before{
            transform: scale(1);
        }
    }
}
}

.search_input{
    background-color: #F5F5F5;
    label  {
        &.Mui-focused{
            color: var(--color_primary) !important;
        }
    }
        &.Mui-focused{
    fieldset{
            border-color: var(--color_primary) !important;

    }
        }
}
.pagination{
    margin-top: 40px;

    button{
        &:hover{
            background-color: var(--color_secondary) !important;
            opacity: 0.5;
        }
    }
    .Mui-selected{
        background-color: var(--color_secondary) !important;
        color: white;
    }
}